@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
    border: 0px;
    padding: 0px;

}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #E83E8C;

}

.navbar .container-fluid img {
    max-height: 50px;
    margin-left: 50px;


}

h1 {
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.card {
    text-align: center ;
}

footer {
    background-color: #E83E8C;
}

footer img{
    width: 50px;
    
}

.collg01 i {
    text-align: center;
    font-size: 50px;
    margin-right: 30px;
    margin-left:30px;
}